html{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}
.overflow {
    overflow: auto;
}

@font-face {
    font-family: OpenSansCondensedRegular;
    src: url(./fonts/OpenSansCondensedRegular.ttf);
 }
 @font-face {
    font-family: OpenSansCondensedBold;
    src: url(./fonts/OpenSansCondensedBold.ttf);
 } 
