<!DOCTYPE html>
<html lang="en" class="no-js">
    <script>
        document.documentElement.classList.remove("no-js");
    </script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}" />
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-icons.min.css')}}" />

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" defer></script>
        <script src="{{url_for('static', filename='js/modernizer.js')}}" defer></script>
        
        {% block head %}{% endblock %}
    </head>
    <body class="bg-dark container">
        {% block body %}{% endblock %}
    </body>

</html>