{% extends "base.html" %}

{% block head %}
<title>Python On The Web Learning Flask</title>
{% endblock %}

{% block body %}
<!-- Header -->
<section class="bg-dark bg-gradient p-3">
    <div class="container text-light text-center">
        <h1 class="fw-bold">Index</h1>
    </div>   
</section>
<!-- Main Body -->
<section class="container bg-secondary text-dark text-center rounded">
    <div style="height:800px;">
        <p class="fw-bold p-3">This is the index.</p>
    </div>
</section>


{% endblock %}