{% extends "base_admin.html" %}

{% block head %}
<title>Python On The Web Learning Flask</title>
{% endblock %}

{% block body %}
<!-- Header -->
<section class="bg-secondary bg-gradient p-3 text-shadow">
    <div class="container text-light text-center">
        <h1 class="fw-bold">Admin Dashboard</h1>
    </div>   
</section>
<!-- Main Body -->
<section class="container bg-dark text-light text-center rounded">
    <div style="height:800px;">
        <p class="fw-bold p-3 ">This is the Admin dashboard.</p>
    </div>
</section>


{% endblock %}