{% extends "base.html" %}

{% block head %}
<title>Learn Flask for Python - Full Tutorial</title>
{% endblock %}

{% block body %}
<!-- Header -->
<section class="bg-dark bg-gradient p-3">
    <div class="container text-light text-center">
        <h1 class="fw-bold">Update Task</h1>
    </div>   
</section>
<!-- Table -->
<section class="bg-secondary bg-gradient p-2">
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row text-center p-2">
            <form action="/update/{{task.id}}" method="POST">
                <input type="text" name="content" id="content" class="w-75" value="{{task.content}}" />
                <input type="submit" value="Update" />
            </form>
        </div>
    </div>
</section>

{% endblock %}